body {
  margin: auto;
  max-width: 800px;
  box-sizing: border-box;
  background: #0d1117;
  color: #e6edf3;
  font-family: "Helvetica", "Verdana", sans-serif;
}

td {
  border-radius: 2px;
  width: 10px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

table {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 8px;
  border-spacing: 5px;
  width: max-content;
  border-collapse: separate;
}

tr {
  height: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

.day-label {
  position: absolute;
  bottom: -3px;
}

.day-label-box {
  padding: .125em .5em .125em 0;
  font-size: 12px;
  width: 28px;
}

.table-container {
  overflow-y: hidden;
  overflow-x: auto;
}

.day-label {
  position: absolute;
  bottom: -3px;
}

.level-0 {
  background-color: #161b22;
  outline: 1px solid #161a22;
}

.level-1 {
  background-color: #0e4429;
  outline: 1px solid #1a4e34;
}

.level-2 {
  background-color: #26a641;
  outline: 1px solid #1a4e34;
}

.level-3 {
  background-color: #26a641;
  outline: 1px solid #31ab4b;
}

.level-4 {
  background-color: #26a641;
  outline: #43d55c;
}
