{% extends "layout.html" %}


{% block body %}
<h1>Welcome, {{ name }}</h1>
<a href="/login">Sign out?</a>
<section>
  <h2>Your activities</h2>
  <div class='table-container'>
  <table>
    <thead id='table-head'>
    </thead>
    <tbody id='table-body'>
    </tbody>
  </table>
  </div>
  <p id="waiting-box">Waiting for response from server</p>
</section>

<script>
  // constants from the server
  const APP_URL = '{{ app_url }}';
</script>

<!-- I want client to query server for activities on startup based on client timezone -->
<script src="../static/heatmap.js"></script>

{% endblock %}
